/* Background for container */
.container-fluid {
    background-image: url("../images/girl_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

.navbar-default {
    background: rgba(225, 225, 225, 0.75);
    background: -webkit-linear-gradient(top, rgba(225, 225, 225, 1), rgba(255, 255, 255, 0));
}
/* Making jumbotron transparent*/
.jumbotron {
    background: rgba(225, 225, 225, 0.25);
}